*{
    background-color: lightgray;
}
#C1{
    width: 100px;
    height: 100px;
}
#C2{
    width: 100px;
    height: 100px;
}
#C3{
    width: 100px;
    height: 100px;
}
#C4{
    width: 100px;
    height: 100px;
}